{% for attr in attrs.values()|sort(attribute='rank') if attr.options|count > 0 and attr.name not in selectedAttrs %}
    {% if loop.index <= 4 %}
        {% include "attribute.html.jinja" %}
    {% endif %}
{% endfor %}