{% set barHeight = 80 %}

<div class="filter">
    <h1>{{attr.displayName|capitalize}}</h1>
    <form id="{{attr.name}}" action="/filter" method="POST">
        <div class="inputs">
            {% if attr.isDiscrete %}
                {% set options = attr.options|sort(attribute='count',reverse=True) %}
                {% set most = options[0].count|round|int %}
                {% for option in options if options.count > 0 %}
                    {% if loop.index <= 5 %}
                        <div class="checkbox" style="height:{{((option.count/most)*barHeight)|round}}px;"
                                title="Average price: {{option.stats.price.mean|round}}{{", Average rating: " ~ option.stats.ratings_avg.mean|round(1) if option.stats.ratings_avg}}">
                            {#<input id="{{attr.name}}{{loop.index}}" type="checkbox" name="{{attr.name}}" value="{{option.value}}">#}
                            <div for="{{attr.name}}{{loop.index}}" >{{option.value}} {{attr.units if attr.units}}</div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% set options = attr.options|sort(attribute='value') %}
                {% set max = options[-1].value|round|int %}
                {% for option in options if options.count > 0 %}
                    <div class="tick" style="height:{{((option.value/max)*barHeight)|round}}px;"
                             title="Average price: {{option.stats.price.mean|round}}{{", Average rating: " ~ option.stats.ratings_avg.mean|round(1) if option.stats.ratings_avg}}" >
                        {{option.value|round|int}}
                    </div>
                {% endfor %}
                {% if options|count > 0 %}
                    <div class="slider">
                        <input type="range" min="{{options[0].value|round|int}}" max="{{max}}"/>
                    </div>
                {% else %}
                    <div> No sizes available </div>
                {% endif %}
            {% endif %}
        </div>
    </form>
</div>

