<div class="point"
    {% set left = ["0%"] %}
    {% set bottom = ["0%"] %}
    {%- for attr,value in point.items() -%}
        data-{{attr}}="{{value}}"
    {%- endfor -%}
    {%- if "size_class" in point and point["size_class"] is not none and "price" in point and point["price"] is not none -%}
        style="left:{{((point["size_class"] - absoluteStats.sizeMin)/absoluteStats.sizeRange)*100}}%; bottom:{{((point["price"] - absoluteStats.priceMin)/absoluteStats.priceRange)*100}}%;"
    {%- else -%}
        style="display:none;"
    {%- endif -%}
 > </div>