<div class="product">
    <div class="close link">close</div>
    <a href="{{product.url}}">
        <img src="{{product.imgSrc}}" title="{{product.name|e}}" />
    </a>
    {# TODO: change from $$ default #}
    <div class="price">${{product.price|round|int}}</div>
    <div class="attr">
        {% for attr in ["size_class"] %}
            {{product[attr]|round|int}} {{units[attr]}}
        {% endfor %}
    </div>
</div>