{% extends "base.html.jinja" %}

{% block content %}
<div id="topBar">
    <form id="query" action="/search" method="POST">
        <div id="mainInput">
            {# TODO: there must be a better way to strip whitespace #}
            <input name="keywords" placeholder="product search" value="{{keywords}}" /><span class="link submit">&rarr;</span>
        </div>
    </form>
</div>
<div id="graphArea">
    <div id="attributeTabs">
    {% for attr in attrs.values()|sort(attribute='rank') if attr.options|count > 0 %}
        {% if loop.index <= 5 %}
            {% include "attribute.html.jinja" %}
        {% endif %}
    {% endfor %}
    </div>
</div>

<div id="rightBar">
<h1>Products</h1>
{% for product in topProducts %}
    {% include "product.html.jinja" %} {# TODO: should this be a macro instead? #}
{% endfor %}
</div>
{% endblock %}